<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>MadLib Time!!</h1>
    <h3>See the story that unfolds after you fill in the blanks.</h3>
    <form action="/story" method="post">
    <label for="adjectiveOne">Adjective</label>
    <input id="adjectiveOne" name="adjectiveOne" type="text">
    <label for="foodPlural">Food (plural)</label>
    <input id="foodPlural" name="foodPlural" type="text">
    <label for="verbOne">Verb</label>
    <input id="verbOne" name="verbOne" type="text">
    <label for="saying">Saying(colloquialism; i.e. "That's the way the cookie crumbles")</label>
    <input id="saying" name="saying" type="text">
    <label for="nounOne">Noun</label>
    <input id="nounOne" name="nounOne" type="text">
    <label for="foodPluralTwo">Food (plural)</label>
    <input id="foodPluralTwo" name="foodPluralTwo" type="text">  
    <label for="color">Color</label>
    <input id="color" name="color" type="text">
    <label for = "vehicle">Vehicle</label>
    <input id="vehicle" name="vehicle" type="text">
    <label for = "animal">Animal</label>
    <input id="animal" name="animal" type="text">
    <label for = "person">Person</label>
    <input id="person" name="person" type="text">
    <button btn-drk type="submit"></button>
    </form>
  </body>
</html>
<!-- 
  adjective
  food plural
  verb
  saying(colloquialism)
  noun
  food plural 2 attack of the clones
  color
  vehicle
  animal
  person
 -->
<!-- Today I went to my favorite Taco Stand called the (Adjective) (Animal. Unlike most food stands, they cook and prepare the food in a (vehicle) while you (verb). The best thing on the menu is the (color) (noun). Instead of ground beef they fill the taco with (plural food), cheese, and top it off with a salsa made from (plural). If that doesn't make your mouth water, then it' just like (person) always says: (coloquialism)! -->